{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ category.title }}
{% endblock %}

{% block navbar %}
<a class="brand" href="/">LightNet</a>
<ul class="nav">
    <li><a href="/mon/">{% trans "Monitor" %}</a></li>
    <li><a href="/mon/events/all">{% trans "Events" %}</a></li>
    <li class="active"><a href="/blog/">{% trans "Blog" %}</a></li>
</ul>
{% endblock %}

{% block sidemenu %}
<div class="well well-small">
<ul class="nav nav-list">
    <li><p class="text-center muted">
        {% now "SHORT_DATETIME_FORMAT" %}</p></li>
    <li><form class="form-horisontal" method="get" action="/blog/search/">
            <div class="controls-group text-center">
                <input type="text" class="input-medium" name="q" id="id_q">
                <button type="submit" class="btn text-center">Search</button>
            </div>
        </form>
    </li>
    <li><a href="/blog/">{% trans "All Entries" %}</a></li>
    <li class="nav-header">{% trans "By Category" %}</li>
    {% for category in category_list %}
        {% if category == active_category %}
            <li class="active"><a href="/blog/categories/{{ category.slug }}">{{ category.title }}</a></li>
        {% else %}
            <li><a href="/blog/categories/{{ category.slug }}">{{ category.title }}</a></li>
        {% endif %}
    {% endfor %}
    {% if perms.entry.change %}
    <li class="divider"></li>
    <li><a href="/admin/blog/entry/add/">{% trans "Add Entry" %}</a></li>
    {% endif %}

</div>

{% endblock %}

{% block maincontent %}
    {% for entry in entry_list %}
        {# <div class="well well-small"> #}
            <small>{{ entry.pub_date|date:"F j, Y" }}</small>
            <h3 style="margin-top:0px"><a id="blog_header" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
            {% if entry.excerpt_html %}
                {{ entry.excerpt_html|safe }}
            {% else %}
                {{ entry.body_html|truncatewords_html:"50"|safe }}
            {% endif %}
            <p><a href="{{ entry.get_absolute_url }}">Читать полностью...</a><p>
            <hr/>
        {# </div> #}
    {% endfor %}

{% endblock %}
