{% extends "base_blog.html" %}
{% load i18n %}

{% block title %}
{% trans "All Entries" %}
{% endblock %}


{% block maincontent %}
    {% for entry in entry_list %}
        <small class="pull-right"><span class="label label-info">{{ entry.pub_date|date:"F j, Y" }}</span></small>
        <h4 style="margin-top:0px"><a id="blog_header" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h4>
        {% if entry.excerpt_html %}
            {{ entry.excerpt_html|safe }}
        {% else %}
            {{ entry.body_html|truncatewords_html:"50"|safe }}
        {% endif %}
        <p><a href="{{ entry.get_absolute_url }}">{% trans "Read more..." %}</a><br />
            {% trans "Tags" %}: 
            {% for tag in entry.make_tag_list %}
                <a href="/blog/tag/{{ tag }}/"><span class="label">{{ tag }}</span></a>
            {% endfor %}
        </p>
        <hr/>
    {% endfor %}

<div class="pagination pagination-centered">
    <ul>
        {% if entry_list.has_previous %}
            <li><a href="?page={{ entry_list.previous_page_number }}">{% trans "Prev" %}</a></li>
            <li><a href="?page={{ entry_list.number|add:"-1" }}">{{ entry_list.number|add:"-1" }}</a></li>
        {% else %}
            <li class="disabled"><a href="#">{% trans "Prev" %}</a></li>
        {% endif %}

            <li class="active">
                <a href="?page={{ entry_list.number }}">{{ entry_list.number }}</a>
            </li>
                
        {% if entry_list.has_next %}
            <li><a href="?page={{ entry_list.next_page_number }}">{{ entry_list.next_page_number }}</a></li>
            <li><a href="?page={{ entry_list.next_page_number }}">{% trans "Next" %}</a></li>
        {% else %}
            <li class="desabled"><a href="#">{% trans "Next" %}</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}
