{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ entry.title }}
{% endblock %}

{% block navbar %} 
    <a class="brand" href="/">LightNet</a>
    <ul class="nav">
        <li><a href="/mon/">{% trans "Monitor" %}</a></li>
        <li><a href="/mon/events/all">{% trans "Events" %}</a></li>
        <li class="active"><a href="/blog/">{% trans "Blog" %}</a></li>
    </ul>
{% endblock %}

{% block full_page_bottom %}
    <h3>{{ entry.title }}</h3>
    {{ entry.body_html|safe }}
    <hr/>
    {% if perms.entry.change %}
        <a href="/admin/blog/entry/{{ entry.id }}/">Редактировать</a>
    {% endif %}
    <p class="text-right"><em>{{ entry.pub_date|date:"F j, Y" }}</em></p>
{% endblock %}
