{% extends "base_blog.html" %}
{% load i18n %}

{% block title %}
    {{ entry.title }}
{% endblock %}

{% block sidemenu %}
{% endblock %}

{% block maincontent %}
{% endblock %}

{% block full_page_bottom %}
    <h3>{{ entry.title }}</h3>
    {{ entry.body_html|safe }}
    <hr/>
    {% if perms.entry.change %}
        <a href="/admin/blog/entry/{{ entry.id }}/">Редактировать</a>
        <p> {% trans "Tags" %}: 
            {% for tag in entry.make_tag_list %}
                <a href="/blog/tag/{{ tag }}/"><span class="label">{{ tag }}</span></a>
            {% endfor %}</p>
    {% endif %}
    <p class="text-right"><em>{{ entry.pub_date|date:"F j, Y" }}</em></p>
{% endblock %}
