{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "All Entries" %}
{% endblock %}

{% block navbar %}
    <a class="brand" href="/">LightNet</a>
    <ul class="nav">
        <li><a href="/mon/">{% trans "Monitor" %}</a></li>
        <li><a href="/mon/events/all">{% trans "Events" %}</a></li>
        <li class="active"><a href="/blog/">{% trans "Blog" %}</a></li>
    </ul>
{% endblock navbar %}

{% block sidemenu %}
<div class="well well-small">
<ul class="nav nav-list">
    <li><p class="text-center muted">
        {% language "ru" %}{% now "SHORT_DATETIME_FORMAT" %}{% endlanguage %}</p></li>
    <li><form class="form-horisontal" method="get" action="/blog/search/">
        <div class="controls-group text-center">
        <input type="text" class="input-medium" name="q" id="id_q">
        <button type="submit" class="btn text-center">Search</button>
        </div>
        </form>
    </li>
    <li class="active"><a href="/blog/">{% trans "All Entries" %}</a></li>
    <li class="nav-header">{% trans "By Category" %}</li>
    {% for category in category_list %}
        <li><a href="/blog/categories/{{ category.slug }}">{{ category.title }}</a></li>
    {% endfor %}
    {% if perms.entry.change %}
    <li class="divider"></li>
    <li><a href="/admin/blog/entry/add/">{% trans "Add Entry" %}</a></li>
    {% endif %}
</div>

{% endblock %}

{% block maincontent %}
    {% for entry in entry_list %}
        {# <div class="well well-small"> #}
            <small class="pull-right"><span class="label">{{ entry.pub_date|date:"F j, Y" }}</span></small>
            <h3 style="margin-top:0px"><a id="blog_header" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
            {% if entry.excerpt_html %}
                {{ entry.excerpt_html|safe }}
            {% else %}
                {{ entry.body_html|truncatewords_html:"50"|safe }}
            {% endif %}
            <p><a href="{{ entry.get_absolute_url }}">{% trans "Read more..." %}</a><p>
            <hr/>
        {# </div> #}
    {% endfor %}

<div class="pagination pagination-centered">
    <ul>
        {% if entry_list.has_previous %}
            <li><a href="?page={{ entry_list.previous_page_number }}">{% trans "Prev" %}</a></li>
            <li><a href="?page={{ entry_list.number|add:"-1" }}">{{ entry_list.number|add:"-1" }}</a></li>
        {% else %}
            <li class="disabled"><a href="#">{% trans "Prev" %}</a></li>
        {% endif %}

            <li class="active">
                <a href="?page={{ entry_list.number }}">{{ entry_list.number }}</a>
            </li>
                
        {% if entry_list.has_next %}
            <li><a href="?page={{ entry_list.next_page_number }}">{{ entry_list.next_page_number }}</a></li>
            <li><a href="?page={{ entry_list.next_page_number }}">{% trans "Next" %}</a></li>
        {% else %}
            <li class="desabled"><a href="#">{% trans "Next" %}</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}
