{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            Bootstrap Template
            {% endblock %}
        </title>
        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet" media="screen">
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-latest.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/support-scripts.js"></script>
    </head>
    <body>
      <div class="container">

      {% block script %}
      {% endblock script %}

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            {% block navbar %}
            <a class="brand" href="/">LightNet</a>
            <ul class="nav">
                <li class="dropdown">
                    <ul class="'dropdown-mwnu">
                        <li><a href="/mon/">{% trans "Devices" %}</a></li>
                        <li><a href="/mon/traf">{% trans "Traffic" %}</a>/li>
                    </ul>
                </li>
                <li class="active"><a href="/mon/">{% trans "Monitor" %}</a></li>
                <li><a href="/mon/events/all/">{% trans "Events" %}</a></li>
                <li><a href="/blog/">{% trans "Blog" %}</a></li>
            </ul>
            {% endblock %}
            <ul class="nav pull-right">
                {% if user.is_authenticated %}
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> {{ user.username }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="/admin/" target="_blank">{% trans "Admin Panel" %}</a></li>
                      <li class="divider"></li>
                      <li><a href="/logout/">{% trans "Logout" %}</a></li>
                  </ul>
                </li>
                {% else %}
                <li><a href="#"><i class="icon-user icon-white"></i> <{% trans "Login" %}</a></li>
                {% endif %}
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-globe icon-white"></i> {% trans "Lang" %}<b class="caret"></b></a>
                <ul id="lang_dropdown" class="dropdown-menu">
                    <form id="lang_form" class="pull-right form-inline" action="/i18n/setlang/" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                            <select id="lang_select" name="language">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}">{{ language.name_local }}</option>
                            {% endfor %}
                            </select>
                        <input type="submit" value="Go" class="btn" />
                    </form>
                </ul>
                </li>
            </ul>
            </div> <!--- end of navbar inner -->
            </div> <!--- end of navbar main -->
            <div class="row">
                <div class="span12">
                    {% block full_page_top %} {% endblock %}
                </div>
                <div class="span3">
                    {% block sidemenu %} {% endblock %}
                </div>
                <div class="span9">
                    {% block maincontent %} {% endblock %}
                </div>
                <div class="span12">
                    {% block full_page_bottom %} {% endblock %}
                </div>
            </div> <!-- end of row div -->
        </div> <!-- end of container div -->
    </body>
</html>
