{% extends "base.html" %}

{% block title %}
Main table
{% endblock %}

{% block sidemenu %}
<div class="well well-small">
<ul class="nav nav-list">
    <li class="nav-header">Status</li>
    {% if not status %}
        <li class="active"><a href="/">All</a></li>
        <li><a href="/mon/errors/">Error</a></li>
        <li><a href="/mon/warnings/">Warning</a></li>
    {% elif status == "errors" %}
        <li><a href="/">All</a></li>
        <li class="active"><a href="/mon/errors/">Error</a></li>
        <li><a href="/mon/warnings/">Warning</a></li>
    {% elif status == "warnings" %}
        <li><a href="/">All</a></li>
        <li><a href="/mon/errors/">Error</a></li>
        <li class="active"><a href="/mon/warnings/">Warning</a></li>
    {% endif %}
</div>
{% endblock %}

{% block maincontent %}
<div id="textbox">
    <p class="pull-left"><strong><font size="3">
    Total devices: {{ render_dict|length }}; Warnings: {{ bad_uptime }}; Errors: {{ bad_ping }}
    </font></strong></p>
    <p class="pull-right">{% now "SHORT_DATETIME_FORMAT" %}</p>
    <div style="clear: both;"></div>
</div>
<script type="text/javascript">
$(document).ready(function()
    {
        $("#sw_table").tablesorter({sortList: [[0,0]]});
    }
);
</script>
{% if render_dict %}
    <table id="sw_table" class="table table-bordered table-hover table-condensed tablesorter">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Адрес</th>
            <th>IP</th>
            <th>Ping</th>
            <th>Uptime</th>
            <th>Тип</th>
        </tr>
        </thead>
        
        <tbody>
        {% for id, data in render_dict.items %}
            {% if not data.sw_ping %}
            <tr class="error">
            {% elif data.sw_uptime_sec < 86400 or not data.sw_uptime %}
            <tr class="warning">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ data.sw_id }}</td>
                <td><a href="#" rel="tooltip" data-original-title="{{ data.sw_comment }}">
                    {{ data.sw_street }}, {{ data.sw_build_num }}</a>
                </td>
                <td>{{ data.ip_addr }}</td>
                <td>{{ data.sw_ping|default:"Error" }}</td>
                <td>{{ data.sw_uptime|default:"Unknown" }}</td>
                <td>{{ data.sw_type }}</td>
            </tr>

        {% endfor %}
        </tbody>
        </table>
{% else %}
    <p>No {{ status }} switches in the database</p>
{% endif %}
{% endblock %}
