{% extends "base.html" %}
{% load i18n %}

{% block title %}
Events history
{% endblock %}

{% block navbar %}
    <a class="brand" href="/">LightNet</a>
    <ul class="nav">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Monitor" %}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/mon/">{% trans "Devices" %}</a></li>
                <li><a href="/traf/">{% trans "Traffic" %}</a></li>
            </ul>
        </li>
        <li class="active"><a href="/mon/events/all/">{% trans "Events" %}</a></li>
        <li><a href="/blog/">{% trans "Blog" %}</a></li>
    </ul>
{% endblock navbar %}

{% block sidemenu %}
<div class="well well-small">
<ul class="nav nav-list">
    <li><p class="text-center muted">
        {% language "ru" %}{% now "SHORT_DATETIME_FORMAT" %}{% endlanguage %}</p></li>
     <li class="nav-header text-center">Last 24 hours: {{ events_per_day }} events</li>
     <li class="nav-header">{% trans "Status" %}</li>
    {% if status == "all" %}
        <li class="active"><a href="/mon/events/all/">{% trans "All" %}</a></li>
        <li><a href="/mon/events/warnings/">{% trans "Warning" %}</a></li>
        <li><a href="/mon/events/errors/">{% trans "Error" %}</a></li>
    {% elif status == "warnings" %}
        <li><a href="/mon/events/all">{% trans "All" %}</a></li>
        <li class="active"><a href="/mon/events/warnings/">{% trans "Warning" %}</a></li>
        <li><a href="/mon/events/errors/">{% trans "Error" %}</a></li>
    {% elif status == "errors" %}
        <li><a href="/mon/events/all/">{% trans "All" %}</a></li>
        <li><a href="/mon/events/warnings/">{% trans "Warning" %}</a></li>
        <li class="active"><a href="/mon/events/errors/">{% trans "Error" %}</a></li>
    {% endif %}
</ul>
</div>
{% endblock %}

{% block maincontent %}
<script type="text/javascript">
$(document).ready(function()
    {
        $("#sw_table").tablesorter();
    }
);
</script>
{% if event_list %}
    <table id="sw_table" class="table table-bordered table-hover table-condensed tablesorter">
        <thead>
        <tr>
            <th>Time</th>
            <th>Type</th>
            <th>Switch</th>
            <th>Event</th>
        </tr>
        </thead>

        <tbody>
        {% for event in event_list %}
            {% if event.ev_type == "err" %}
            <tr class="error">
            {% elif event.ev_type == "warn" %}
            <tr class="warning">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ event.ev_datetime|date:"d M, H:i" }}</td>
                <td>{{ event.get_ev_type_display }}</td>
                <td><a href="{% url 'view' event.ev_switch.id %}">{{ event.ev_switch }}</a></td>
                <td>{{ event.ev_event }}</td>
            </tr>

        {% endfor %}
        </tbody>
        </table>

<div class="pagination pagination-centered">
    <ul>
        {% if event_list.has_previous %}
            <li><a href="?page={{ event_list.previous_page_number }}">Prev</a></li>
            <li><a href="?page={{ event_list.number|add:'-1' }}">{{ event_list.number|add:"-1" }}</a></li>
        {% else %}
            <li class="disabled"><a href="#">Prev</a></li>
        {% endif %}

            <li class="active">
                <a href="?page={{ event_list.number }}">{{ event_list.number }}</a>
            </li>
                
<!-- Page {{ event_list.number }} of {{ event_list.paginator.num_pages }} -->

        {% if event_list.has_next %}
            <li><a href="?page={{ event_list.next_page_number }}">{{ event_list.next_page_number }}</a></li>
            <li><a href="?page={{ event_list.next_page_number }}">Next</a></li>
        {% else %}
            <li class="desabled"><a href="#">Next</a></li>
        {% endif %}
    </ul>
</div>
{% else %}
    <p>No {{ status }} events in the database</p>
{% endif %}
{% endblock %}
