{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Home Page" %}
{% endblock %}

{% block navbar %}
    <a class="brand" id="white_text" href="/">LightNet</a>
        <ul class="nav">
           <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Monitor" %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mon/">{% trans "Devices" %}</a></li>
                        <li><a href="/traf">{% trans "Traffic" %}</a></li>
                    </ul>
            </li>
            <li><a href="/mon/events/all/">{% trans "Events" %}</a></li>
            <li><a href="/blog/">{% trans "Blog" %}</a></li>
        </ul>
{% endblock navbar %}

{% block full_page_bottom %}
<div class="row">
    <div class="span3">
        <p class="well"><strong>Common Statistic</strong><br /><br />
        <a href="/mon/">Total switches:</a> {{ total_switches }}<br />
        <a href="/mon/">Disabled:</a> {{ disabled_switches }}<br />
        <a href="/mon/status/warnings/">Resently rebooted:</a> {{ warning_switches }}<br />
        <a href="/mon/status/errors">Not responding:</a> {{ error_switches|length }}<br /></p>
    </div>
    <div class="span3">
        <p class="well"><strong>{% trans "Not responding switches" %}:</strong><br /><br />
            {% if error_switches|length > 0 %}
                {% if error_switches|length < 5 %}
                    {% for switch in error_switches %}
                        <a href="{% url 'view' switch.id %}">{{ switch}}</a>
                    {% endfor %}
                {% else %}
                    {% for switch in error_switches|slice:":4" %}
                        <a href="{% url 'view' switch.id %}">{{ switch}}</a>
                    {% endfor %}
                    <a href="/mon/status/errors/">     More...</a>
                {% endif %}
            {% else %}
                {% trans "All switches are up!" %}
            {% endif %}
        </p>
    </div>
    <div class="span6">
        <p class="well"><strong>{% trans "Events for 24h" %}:</strong>{{ events_per_day }}</p>
        {% for event in last_events %}
            <span class="{% if event.ev_type == 'err' %}text-error{% endif %}">{{ event.get_ev_type_display }}:</span>
            {{ event.ev_switch }} - {{ event.ev_datetime|date:"d M, H:i" }}
        {% endfor %}
    </div>
</div>
<p>{% trans "Статистика пинга основного шлюза и yandex:" %}</p>
<img src="{{ STATIC_URL}}img/switches/rrd_ping.png" class="img-polaroid">
<p></p>
<p>{% trans "Общий трафик по всем интерфейсам:" %}</p>
<img src="{{ STATIC_URL }}img/switches/rrd_traf.png" class="img-polaroid">
{% endblock full_page_bottom %}
