{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Home Page" %}
{% endblock %}

{% block navbar %}
    <a class="brand" id="white_text" href="/">LightNet</a>
        <ul class="nav">
            <li><a href="/mon/">{% trans "Monitor" %}</a></li>
            <li><a href="/mon/events/all/">{% trans "Events" %}</a></li>
            <li><a href="/blog/">{% trans "Blog" %}</a></li>
        </ul>
{% endblock navbar %}

{% block full_page_bottom %}
<p>{% trans "Статистика пинга основного шлюза и yandex:" %}</p>
<img src="{{ STATIC_URL}}img/switches/rrd_ping.png" class="img-polaroid">
<p></p>
<p>{% trans "Общий трафик по всем интерфейсам:" %}</p>
<img src="{{ STATIC_URL }}img/switches/rrd_traf.png" class="img-polaroid">
{% endblock full_page_bottom %}
