{% extends "base.html" %}
{% load i18n %}

{% block title %}
Monitoring
{% endblock %}

{% block script %}

<!-- Tooltip script -->
<script type="text/javascript">
$(function(){
  $('body').tooltip({
      selector: "[rel=tooltip]",
      placement: "top",
      html: true
  });
});
</script>

<!-- table-sorting script -->
<script>
$(document).ready(function()
    {
       $('#{{ status }}').addClass('active');
       if ('{{ status }}' == 'disabled') {
            $('#errors a').attr("href", "/mon/status/errors/");
            $('#warnings a').attr("href", "/mon/status/warnings/");
            }
       $("#sw_table").tablesorter({sortList: [[0,0]]});
    }
);
</script>

{% endblock script %}

{% block sidemenu %}
<div class="well well-small">
<ul class="nav nav-list">
    <li><p class="text-center muted">
        {% language "ru" %}{% now "SHORT_DATETIME_FORMAT" %}{% endlanguage %}</p></li>
    <input id="search" type="text" class="input-medium" placeholder="{% trans "Search" %}"
                                                    autofocus="autofocus" />
    <li class="nav-header">{% trans "Status" %}</li>
        <li id="all" class="clearfix">
            <a href="/mon/">{% trans "All" %}<span class="pull-right">{{ sw_enabled }}</span></a></li>
        <li id="warnings" class="clearfix">
            <a href="#">{% trans "Warning" %}<span class="pull-right">{{ sw_warning }}</span></a></li>
        <li id="errors" class="clearfix">
            <a {% if bad_ping > 0 %}class="text-error" {% endif %} href="#">{% trans "Error" %}
            <span class="pull-right">{{ sw_error }}</span></a>
        </li>
        <li id="disabled" class="clearfix">
            <a href="/mon/status/disabled/">{% trans "Disabled" %}
            <span class="pull-right">{{ sw_disabled }}</span></a>
        </li>
        <li class="divider"></li>
        <li><a href="/new/">{% trans "Add Switch" %}</a><li>
</ul>
</div>
{% endblock %}

{% block maincontent %}


{% if switch_list %}
    <table id="sw_table" class="table table-bordered table-hover table-condensed tablesorter">
        <thead>
        <tr>
            <th>№</th>
            <th>{% trans "Address" %}</th>
            <th>IP</th>
            <th>{% trans "Ping" %}</th>
            <th>{% trans "Uptime" %}</th>
            <th>{% trans "Type" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for switch in switch_list %}
            {% if not switch.sw_ping %}
            <tr class="error">
            {% elif switch.sw_uptime < 86400 or not switch.sw_uptime %}
            <tr class="warning">
            {% elif switch.sw_uptime > 1209600 %}
            <tr class="info">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ switch.sw_id }}</td>
                <td id="sw_addr">
                    <a href="{% url 'view' switch.id %}"
                       {% if switch.sw_device or switch.sw_comment %}
                       rel="tooltip"
                       data-original-title="{% if switch.sw_device %}
                                                {% trans "Model" %}: {{ switch.sw_device.str_for_tooltip }}
                                            {% endif %}
                                            {%if switch.sw_comment %}
                                                {% trans "Comment" %}: {{ switch.sw_comment }}
                                            {% endif %}"
                       {% endif %}>
                     {{ switch.sw_street }}, {{ switch.sw_build_num }}</a>
                </td>
                <td id="sw_ip">{{ switch.ip_addr }}</td>
                <td>{{ switch.sw_ping|default:"Error" }}</td>
                <td>{{ switch.sw_uptime_str|default:"Unknown" }}</td>
                <td id="sw_type">{{ switch.sw_type }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
{% else %}
    <p>No {{ status }} switches in the database</p>
{% endif %}
{% endblock %}
