{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ switch }}
{% endblock %}

{% block script %}
{% endblock script %}

{% block sidemenu %}

<div class="well-small">
<p><button class="btn" id='edit_btn'>{% trans "Edit" %}</button></p>
<p><form><input type="button" class="btn" value='{% trans "Connect" %}'
    onclick="window.open('http://{{ switch.ip_addr }}/');"></form>
<p><button class="btn">{% trans "Ping" %}</button></p>
<p><button class="btn btn-danger">{% trans "Reboot" %}</button></p>
</div>

{% endblock sidemenu %}

{% block maincontent %}
<script>
$('#edit_btn').click(function() {
    document.location.href='/mon/edit/{{ switch.id }}/';
    })
</script>

{% if switch %}
<p><strong>{% trans "Switch information:" %}</strong><p>
    <ul>
        <li><strong>{% trans "IP-address" %}:</strong> {{ switch.ip_addr }}</li>
        <li><strong>{% trans "District" %}:</strong> {{ switch.get_sw_district_display }}</li>
        <li><strong>{% trans "Address" %}:</strong> {{ switch.sw_addr }}</li>
        {% if switch.sw_comment %}
            <li><strong>{% trans "Comment" %}:</strong> {{ switch.sw_comment }}</li>
        {% endif %}
        <li><strong>{% trans "Type" %}:</strong> {{ switch.sw_type }}</li>
        {% if switch.sw_device %}
            <li><strong>{% trans "Model" %}:</strong> {{ switch.sw_device.str_for_tooltip }}</li>
        {% endif %}
        <li><strong>{% trans "State" %}:</strong> 
            {% if switch.sw_enabled %}<span class="col_green">{% trans "Enabled" %}</span>
            {% else %}<span class="col_red">{% trans "Disabled" %}<span>{% endif %}</li>
        <li><strong>{% trans "Ping, ms" %}:</strong> 
            {% if switch.sw_ping %}<span class="col_green">{{ switch.sw_ping }}</span>
            {% else %}<span class="col_red">{% trans "Unknown" %}</span>
            {% endif %}
        <li><strong>{% trans "Uptime" %}:</strong> {{ switch.sw_uptime_str|default:"Неизвестно" }}</li>
    </ul>

    {% if events %}
    <script type="text/javascript">
    $(document).ready(function()
        {
            $("#sw_table").tablesorter();
        }
    );
    </script>
    <p><strong>Последние 30 событий:</strong></p>
    <table id="sw_table" class="table table-bordered table-hover table-condensed tablesorter">
        <thead>
        <tr>
            <th>Time</th>
            <th>Type</th>
            <th>Switch</th>
            <th>Event</th>
        </tr>
        </thead>

        <tbody>
        {% for event in events %}
            {% if event.ev_type == "err" %}
            <tr class="error">
            {% elif event.ev_type == "warn" %}
            <tr class="warning">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ event.ev_datetime|date:"d M, H:i" }}</td>
                <td>{{ event.get_ev_type_display }}</td>
                <td><a href="{{ event.ev_switch.get_absolute_url }}">{{ event.ev_switch }}</a></td>
                <td>{{ event.ev_event }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    {% endif %} <!-- Events if -->
{% endif %} <!-- Switch if -->

{% endblock maincontent %}


