{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ switch }}
{% endblock %}

{% block sidemenu %}

<div class="well-small">
{% if perms.switches.change_switch %}
<p><button class="btn sw_act_btn" id='edit_btn'>{% trans "Edit" %}</button></p>
{% endif %}
<p><button class="btn sw_act_btn" id='connect_btn'>{% trans "Connect" %}</button></p>
<p><button class="btn sw_act_btn" id='ping_btn'>{% trans "Ping" %}</button></p>
{% if perms.switches.change_switch %}
    <p><button class="btn btn-danger sw_act_btn" id="reboot_btn">{% trans "Reboot" %}</button></p>
    <p><button class="btn btn-danger sw_act_btn" id="clear_btn">{% trans "Clear history" %}</button></p>
{% endif %}
</div>

<div id="ping_modal" class="modal hide fade" tabindex="-1" role="dialog"
    aria-labelledby="ping_modal_label" aria-hidden="true">
    <div class="modal-header">
        <h4 id="ping_modal_label">{% trans "Ping statistic for" %} {{ switch.ip_addr }}, {{ switch.sw_addr }}</h4>
    </div>
    <div class="modal-body">
        <p id="response"><span class="col_red">Empty Response</span></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<div id="reboot_modal" class="modal hide fade" tabindex="-1" role="dialog"
    aria-labelledby="ping_modal_label" aria-hidden="true">
    <div class="modal-header">
        <h4 id="reboot_modal_label">{% trans "Reboot request for" %} {{ switch.ip_addr }}, {{ switch.sw_addr }}</h4>
    </div>
    <div class="modal-body">
        <p id="reboot_response"><span class="col_red">Empty Response</span></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<script>
$('#edit_btn').click(function() {
    document.location.href='/mon/edit/{{ switch.id }}/';
    })
</script>

<script>
$('#connect_btn').click(function() {
    window.open('http://{{ switch.ip_addr }}/');
    })
</script>

<script>
$('#ping_btn').click(function() {
    $.ajax({
        type: "POST",
        url: "/mon/ping/",
        data: {
            'id': '{{ switch.id }}',
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
        success: function(data) {
            $('#response').html(data);
            $('#ping_modal').modal();
        },
        error: function(data) {
            $('#response').text('Error while processing request');
        }
        }).done(function() {
    });
});
</script>

<script>
$('#reboot_btn').click(function() {
    var answer = confirm ("This will reboot switch. Continue?")
    if (answer)
        $.ajax({
            type: "POST",
            url: "/mon/reboot/",
            data: {
                'id': '{{ switch.id }}',
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
            success: function(data) {
                $('#reboot_response').html(data);
                $('#reboot_modal').modal();
            },
            error: function(data) {
                $('#response').text('Error while processing request');
            }
            }).done(function() {
        });
});
</script>

<script>
$('#clear_btn').click(function() {
    $.ajax({
        type: "POST",
        url: "/mon/clear/",
        data: {
            'id': '{{ switch.id }}',
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
        success: function(data) {
            document.location.reload(true);
        },
        error: function(data) {
            alert("Error while clearing history!");
        }
        }).done(function() {
    });
});
</script>

{% endblock sidemenu %}

{% block maincontent %}
{% if switch %}
<p><strong>{% trans "Switch information:" %}</strong><p>

    <div class="row">
        <div class="span4">
              <ul>
                <li><strong>{% trans "IP-address" %}:</strong> {{ switch.ip_addr }}</li>
                <li><strong>{% trans "District" %}:</strong> {{ switch.get_sw_district_display }}</li>
                <li><strong>{% trans "Address" %}:</strong> {{ switch.sw_addr }}</li>
                {% if switch.sw_comment %}
                    <li><strong>{% trans "Comment" %}:</strong> {{ switch.sw_comment }}</li>
                {% endif %}
                <li><strong>{% trans "Type" %}:</strong> {{ switch.sw_type }}</li>
                {% if switch.sw_device %}
                    <li><strong>{% trans "Model" %}:</strong> {{ switch.sw_device.str_for_tooltip }}</li>
                {% endif %}
                <li><strong>{% trans "State" %}:</strong>
                    {% if switch.sw_enabled %}<span class="col_green">{% trans "Enabled" %}</span>
                    {% else %}<span class="col_red">{% trans "Disabled" %}</span>{% endif %}</li>
                <li><strong>{% trans "Ping, ms" %}:</strong>
                    {% if switch.sw_ping %}<span class="col_green">{{ switch.sw_ping }}</span>
                    {% else %}<span class="col_red">{% trans "Unknown" %}</span>
                    {% endif %}
                </li>
                <li><strong>{% trans "Uptime" %}:</strong>
                    {% if switch.sw_uptime %}<span class="col_green">{{ switch.sw_uptime_str }}</span>
                    {% else %}<span class="col_red">{% trans "Unknown" %}</span>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="span4">
            <ul>
                <li><strong>{% trans "Config backup" %}:</strong>
                    {% if switch.sw_backup_conf %}<span class="col_green">{% trans "Enabled" %}</span>
                    {% else %}<span class="col_red">{% trans "Disabled" %}</span>{% endif %}
                </li>
                <li><strong>{% trans "Config file" %}:</strong>
                    {% if not switch.get_config_path %}{% trans "No configuration file found" %}
                    {% else %}<a href="{{ MEDIA_URL }}{{ switch.get_config_path }}">{{ switch.sw_id }}.cfg</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    {% if events %}
    <script type="text/javascript">
    $(document).ready(function()
        {
            $("#sw_table").tablesorter();
        }
    );
    </script>
    <p><strong>Последние 30 событий:</strong></p>
    <table id="sw_table" class="table table-bordered table-hover table-condensed tablesorter">
        <thead>
        <tr>
            <th>Time</th>
            <th>Type</th>
            <th>Switch</th>
            <th>Event</th>
        </tr>
        </thead>

        <tbody>
        {% for event in events %}
            {% if event.ev_type == "err" %}
            <tr class="error">
            {% elif event.ev_type == "warn" %}
            <tr class="warning">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ event.ev_datetime|date:"d M, H:i" }}</td>
                <td>{{ event.get_ev_type_display }}</td>
                <td><a href="{{ event.ev_switch.get_absolute_url }}">{{ event.ev_switch }}</a></td>
                <td>{{ event.ev_event }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    {% endif %} <!-- Events if -->
{% endif %} <!-- Switch if -->

{% endblock maincontent %}


